.site-announcements {
  position: relative;
  padding: 0 1rem 0;
  width: calc(40 * var(--fontSize));
  max-width: 100%;
  margin: 0 auto;
  &.is-hidden {
    display: none;
  }
  @media screen and (min-width: 37.5rem) {
    padding: 1rem calc(var(--sideBlocksWidth) + 2rem) 0;
  }
}
.site-announcement {
  background: var(--red);
  position: relative;
  color: var(--white);
  width: 100%;
  text-align: left;
  display: none;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--fontSize);
  border-radius: 0.4em;

  p {
    margin: 0;
  }
  a {
    color: var(--white);
    &:hover,
    &:focus {
      color: var(--grey);
    }
  }
  &.is-visible {
    display: flex;
  }
  &.is-hidden {
    display: none;
  }
}
.close-announcement {
  order: 0;
  flex: 0 0 auto;
  background: transparent;
  border: 0;
  margin: 0;
  font-size: var(--fontSize);
  color: var(--white);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--grey);
    background: transparent;
  }
}
.announcement-inner {
  flex: 1 0 auto;
  max-width: calc(100% - (var(--fontSize) * 3));
  padding: 1rem calc(var(--fontSize) * 3) 1rem 0;
  text-align: center;
}
.announcement-visible {
  .site-announcement {
    display: flex;
  }
}
.announcement-hidden {
  .site-announcement {
    display: none;
  }
}

.menu-is-active {
  .site-announcement.is-visible {
    display: none;
  }
}
