.post-type-archive-event {
  article.event {
    padding: 0 0 3rem;
    .entry-title {
      text-transform: none;
    }
    h2,
    h3 {
      padding: 0;
      margin: 0;
      font-size: var(--fontSizeXLarge);
      color: var(--colorText);
    }
    h2 {
      text-transform: uppercase;
    }
    h3 {
      color: var(--colorLinkHover);
    }
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        h2 {
          color: var(--colorLinkHover);
        }
      }
    }
  }
}
