.site-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
  @media screen and (min-width: 37.5rem) {
    width: 70rem;
    padding: 1.5rem calc(var(--sideBlocksWidth) + 2rem) 0.5rem;
  }
}

.site-branding {
  padding: 1rem;
}
.site-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: var(--fontSizeNav);
  line-height: 1.1;
  a {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: var(--colorText);
    &:hover,
    &:focus {
      border-bottom: 2px solid var(--colorLinkHover);
    }
  }
}

.main-navigation {
  display: flex;
  padding: 1rem;
  text-transform: uppercase;
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    letter-spacing: 0.02em;
  }

  li {
    position: relative;
    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: var(--colorText);
    &:hover,
    &:focus {
      border-bottom: 2px solid var(--colorLinkHover);
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    border-bottom: 2px solid var(--colorLinkHover);
  }
}

/* Mobile menu */
#primary-menu {
  z-index: 999;
  position: fixed;
  top: var(--siteTop);
  bottom: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease;
  width: 30rem;
  max-width: 90%;
  min-height: calc(100vh - var(--siteTop));
  overflow: auto;
  background: var(--siteBackground);
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 4.5rem;
  font-size: var(--fontSizeLarge);
  box-shadow: -15px 0 20px rgb(0 0 0 / 20%);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 3rem;
    bottom: 0;
    background-image: url("assets/images/border.png");
    background-image: url("assets/images/border.svg");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top center;
  }
  li {
    width: 100%;
    padding: 0 0 1em;
  }
  a {
    display: inline-block;
  }
  @media screen and (min-width: 37.5rem) {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    transform: none;
    transition: none;
    width: auto;
    max-width: 100%;
    min-height: 0;
    background: none;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    overflow: visible;
    font-size: var(--fontSizeNav);
    line-height: 1.1;
    box-shadow: none;
    &:before {
      content: none;
    }
    li {
      width: auto;
      padding: 0 0 0 1rem;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}
/* Small menu. */
.menu-toggle {
  color: var(--colorText);
  position: fixed;
  top: var(--siteTop);
  right: 0;
  z-index: 10;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon-close {
    display: none;
  }
}
.main-navigation.toggled {
  .menu-toggle {
    .icon-close {
      display: block;
    }
    .icon-menu {
      display: none;
    }
  }
  ul {
    display: flex;
  }
  #primary-menu {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 37.5rem) {
  .menu-toggle {
    display: none;
  }

  .main-navigation {
    ul {
      display: flex;
    }
    #primary-menu {
      transform: none;
    }
  }
}

/* Follow Along Links */
.highlight {
  transition: all 0.2s ease;
  border-bottom: 2px solid var(--red);
  position: absolute;
  top: 0;
  background: pink;
  left: 0;
  z-index: -1;
  border-radius: 2px;
  display: block;
}
