@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0%,
  to {
    transform: rotate(2.5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2.5deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
