.staggered-text {
  //letter-spacing: 0.25em;
  //letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  display: inline-block;
  span[class^="char"]:nth-child(even) {
    transform: translate3d(0, 0, 0);
    display: inline-block;
    transition: transform 0.3s ease;
  }
  span[class^="word"] {
    display: inline-block;
    margin-right: 0.35em;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    span[class^="char"]:nth-child(even) {
      transform: translate3d(0, -0.175em, 0);
    }
  }
  &.staggered-text--align-center {
    display: block;
    text-align: center;
    span[class^="word"] {
      margin: 0 auto;
      padding: 0 0.075em;
      &:last-of-type {
        margin-right: auto;
      }
    }
  }
}
.staggered-text--ignore span {
  transform: translate3d(0, 0, 0) !important;
  letter-spacing: 0 !important;
}
