.site-main {
  max-width: 100%;
  //width: calc(35 * var(--fontSize));
  padding: 3rem 1rem;
  margin: 0 auto;
  @media screen and (min-width: 37.5rem) {
    //width: calc(50 * var(--fontSize));
    padding: 3rem calc(var(--sideBlocksWidth) + 3rem);
  }
}

.entry-header {
  text-align: center;
}
.entry-title {
  font-size: var(--fontSizeLarge);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-top: 0;
}

.entry-header,
.entry-footer {
  max-width: var(--contentWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.entry-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  iframe {
    width: 100%;
    height: auto;
  }
  h1 {
    padding-top: 0;
    font-size: var(--fontSizeLarge);
  }
  p {
    margin-top: 0;
  }
  > p,
  > ul,
  > ol,
  > blockquote,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    width: var(--contentWidth);
    max-width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
[class^="wp-block"] {
  width: var(--contentWidth);
  max-width: 100%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  &.alignwide {
    width: var(--wideWidth);
  }
  &.alignfull {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.wp-block-columns {
  padding-left: 0;
  padding-right: 0;
}
.wp-block-column {
  [class^="wp-block"] {
    padding-left: 0;
    padding-right: 0;
  }
  .wp-block-button__link {
    padding: 0.667em 1.333em;
  }
}
.wp-block-buttons > .wp-block-button {
  padding-left: 0;
  padding-right: 0;
}
.wp-block-buttons > .wp-block-button,
.wp-block-button__link {
  width: auto;
}
.wp-block-button__link {
  padding: 0.667em 1.333em;
}
.wp-block-image {
  img {
    display: block;
  }
  figcaption {
    font-size: var(--fontSizeSmall);
  }
}

.wp-block-group {
  .wp-block-group__inner-container {
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
  &.alignwide {
    [class^="wp-block"] {
      width: 100%;
    }
  }
}
