.side-blocks {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1rem;
  width: calc(var(--sideBlocksWidth, 3rem) + 1rem);
  min-height: 100vh;
  overflow: auto;
  //border: 1px solid red;
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-end;
  @media screen and (min-width: 37.5rem) {
    display: flex;
  }
}
.side-blocks--right {
  left: auto;
  right: 0;
  padding-left: 0;
  padding-right: 1rem;
}
.side-blocks-item {
  margin-top: 0.2em;
  width: var(--sideBlocksWidth, 3rem);
  height: var(--sideBlocksWidth, 3rem);
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease 0.3s, max-height 0.3s ease;
  overflow: hidden;
  pointer-events: none;
  span {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate3d(0, 1em, 0);
    transition: transform 0.3s ease 0.3s;
  }
  &.is-init {
    opacity: 1;
    max-height: var(--sideBlocksWidth, 3rem);
    span {
      transform: translate3d(0, 0, 0);
    }
  }
}
.side-blocks-item--1 {
  span {
    background-image: url("assets/svg/SVG/blocks-1.svg");
  }
}
.side-blocks-item--2 {
  span {
    background-image: url("assets/svg/SVG/blocks-2.svg");
  }
}
.side-blocks-item--3 {
  span {
    background-image: url("assets/svg/SVG/blocks-3.svg");
  }
}
.side-blocks-item--4 {
  span {
    background-image: url("assets/svg/SVG/blocks-4.svg");
  }
}
.side-blocks-item--5 {
  span {
    background-image: url("assets/svg/SVG/blocks-5.svg");
  }
}
.side-blocks-item--6 {
  span {
    background-image: url("assets/svg/SVG/blocks-6.svg");
  }
}
.side-blocks-item--7 {
  span {
    background-image: url("assets/svg/SVG/blocks-7.svg");
  }
}
.side-blocks-item--8 {
  span {
    background-image: url("assets/svg/SVG/blocks-8.svg");
  }
}
.side-blocks-item--9 {
  span {
    background-image: url("assets/svg/SVG/blocks-9.svg");
  }
}

.side-blocks-toggle {
  //position: absolute;
  //top: 0;
  //left: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--red);
  color: var(--white);
  padding: 0.75em 1em;
  font-size: var(--fontSizeSmall);
  line-height: 1;
  pointer-events: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.4em;
  opacity: 0.75;
  transform-origin: center center;
  transition: transform 0.2s ease, background-color 0.2s ease,
    border-radius 0.2s ease, opacity 0.2s ease, visibility 0s 0.2s;
  .is-hidden {
    display: none;
  }
  .is-visible {
    display: block;
  }
}
.has-side-blocks {
  &.trigger-enter {
    .side-blocks-toggle {
      display: inline-block;
      opacity: 0;
      visibility: hidden;
      transition: transform 0.2s ease, background-color 0.2s ease,
        border-radius 0.2s ease, opacity 0.2s ease, visibility 0s 0.2s;
    }
  }
  &.trigger-enter-active {
    .side-blocks-toggle {
      display: inline-block;
      opacity: 0;
      visibility: hidden;
      transition: transform 0.2s ease, background-color 0.2s ease,
        border-radius 0.2s ease, opacity 0.2s ease, visibility 0s 0.2s;
    }
  }
  &.trigger-enter.trigger-enter-active {
    .side-blocks {
      cursor: pointer;
    }
    .side-blocks-toggle {
      display: inline-block;
      opacity: 1;
      visibility: visible;
      transition: transform 0s ease, background-color 0.2s ease,
        border-radius 0.2s ease, opacity 0.2s ease, visibility 0s;
    }
  }
  &.trigger-hidden {
    .side-blocks-item {
      opacity: 0 !important;
      transition: opacity 0.2s ease;
      //max-height: 0 !important;
    }
    .side-blocks-toggle {
      border-radius: 3em;
      background-color: var(--black);
      //opacity: 0.5;
      //display: inline-block;
      //visibility: visible;

      .is-hidden {
        display: block;
      }
      .is-visible {
        display: none;
      }
    }
  }
}
