.single-event {
  article.event {
    .entry-header {
      padding-bottom: 3rem;
      .button {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    .entry-title {
      text-transform: none;
    }
    h1.entry-title {
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }
  }
}
