.page-template-front {
  /* Structure */
  .site-header {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
  }
  .site-branding {
    display: none;
  }
  .site-main {
    padding: 0;
  }
  .side-blocks {
    display: none;
  }
  .site-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .site-announcements {
    padding-top: calc(3 * var(--fontSize));
  }
  /* Mobile menu */
  #primary-menu {
    @media screen and (min-width: 37.5rem) {
      position: fixed;
      top: var(--siteTop);
      bottom: 0;
      right: 0;
      transform: translate3d(100%, 0, 0);
      transition: transform 0.3s ease;
      width: 30rem;
      max-width: 90%;
      min-height: calc(100vh - var(--siteTop));
      overflow: auto;
      background: var(--siteBackground);
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1rem 1rem 1rem 4rem;
      font-size: var(--fontSizeLarge);
      box-shadow: -15px 0 20px rgb(0 0 0 / 20%);
      &:before {
        content: "";
      }
      li {
        width: 100%;
        padding: 0 0 1em;
      }
    }
  }
  /* Small menu. */
  .menu-toggle {
    display: none;
    font-size: calc(2.75 * var(--fontSize));
    color: var(--white, #fff);
    mix-blend-mode: difference;
  }
  .main-navigation.toggled {
    ul {
      display: flex;
    }
  }
  @media screen and (min-width: 37.5rem) {
    .menu-toggle {
      //display: flex;
      display: none;
    }

    .main-navigation {
      ul {
        display: none;
      }
      #primary-menu {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .wp-block-cover {
    min-height: 0 !important;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .wp-block-cover,
  .wp-block-cover-image {
    padding: var(--padding) var(--padding) calc(2 * var(--padding));
  }
  .wp-block-cover__inner-container {
    audio {
      width: 5em;
      min-width: 240px;
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

/* Front Menu */
.front-menu-open {
  position: fixed;
  top: var(--siteTop);
  right: 0;
  z-index: 1000;
  padding: 1rem;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: calc(2.75 * var(--fontSize));
  color: var(--white, #fff);
  mix-blend-mode: difference;
}
.page-template-front {
  .front-menu-open {
    display: flex;
  }
}
.site-header-front {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: var(--siteTop, 0px);
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--siteBackground);
  z-index: 1000;
  padding: var(--fontSize);
  text-align: center;
  &.toggled {
    display: flex;
  }
  footer {
    width: 100%;
    div {
      max-width: calc(30 * var(--fontSize));
      margin: auto;
    }
  }
}
.front-menu-close {
  --colorLink: var(--colorText);
  position: fixed;
  top: var(--siteTop, 0px);
  margin: 1rem;
  right: 0;
  font-size: calc(2.5 * var(--fontSize));
  z-index: 1;
}
#primary-menu-front {
  flex: 1 0 60%;
  width: 100%;
  font-size: var(--fontSizeXLarge);
  --colorLink: var(--colorText);
  list-style: none;
  padding: calc(5 * var(--fontSize)) 0 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  li {
    width: 100%;
    padding: calc(0.5 * var(--fontSize)) 0;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
.site-announcements + #primary-menu-front {
  padding: calc(1.5 * var(--fontSize)) 0 0;
}
.site-header-front {
  .site-announcements {
    padding: calc(5 * var(--fontSize)) 0 0;
  }
}

#primary-menu-front li a {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  span[class^="word"] {
    margin: 0 auto;
    padding: 0 0.075em;
    &:last-of-type {
      margin-right: auto;
    }
  }
  span[class^="char"]:nth-child(even) {
    transform: translate3d(0, 0, 0);
    display: inline-block;
    transition: transform 0.3s ease;
  }
  span[class^="word"] {
    display: inline-block;
    margin-right: 0.35em;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &:hover,
  &:focus {
    span[class^="char"]:nth-child(even) {
      transform: translate3d(0, -0.175em, 0);
    }
  }
}
