/*!
Theme Name: Notes on Play
Theme URI: http://underscores.me/
Author: An Endless Supply
Author URI: https://endless.supply
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: notes-on-play
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Notes on Play is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/@font-face{font-family:"Eesti";src:url("assets/fonts/GT-Eesti-Display-Regular.woff2") format("woff2"),url("assets/fonts/GT-Eesti-Display-Regular.woff") format("woff");font-weight:400;font-style:normal}/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:var(--colorText);font-family:var(--fontSans);font-size:var(--fontSize);line-height:var(--lineHeight);font-variation-settings:"wght" 400}h1,h2,h3,h4,h5,h6{clear:both;font-weight:400;font-family:var(--fontHeading);font-size:var(--fontSize);padding:2rem 0 1rem;margin:0;line-height:var(--lineHeightHeading)}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:var(--fontSizeH2)}small,.text-small{font-size:var(--fontSizeSmall)}body{--white: #fff;--black: #222;--lightBlack: #282828;--grey: #e4e4e4;--lightGrey: #f5f5f5;--midGrey: #ababab;--darkGrey: #505050;--blue: blue;--green: #435a34;--red: #da0000;--magenta: #f800ff;--colorText: var(--black);--colorTextSecondary: var(--darkGrey);--colorLink: var(--blue);--colorLinkHover: var(--red);--colorButtonText: var(--white);--colorButtonTextHover: var(--lightGrey);--colorButtonBackground: var(--red);--colorButtonBackgroundHover: var(--lightBlack);--siteBackground: var(--white);--homeColorText: var(--green);--colorTextInput: var(--darkGrey);--colorBorderInput: var(--midGrey);--colorTextInputFocus: var(--lightBlack);--siteTop: 0px;--headerHeight: 0;--accessBarHeight: 0;--sideBlocksWidth: 3rem;--fontSize: 0.875rem;--fontSizeH1: calc(1.802 * var(--fontSize));--fontSizeH2: calc(1.602 * var(--fontSize));--fontSizeH3: calc(1.424 * var(--fontSize));--fontSizeH4: calc(1.266 * var(--fontSize));--fontSizeH5: calc(1.125 * var(--fontSize));--fontSizeSmall: calc(0.75 * var(--fontSize));--fontSizeLarge: calc(1.424 * var(--fontSize));--fontSizeXLarge: calc(2.1 * var(--fontSize));--fontSizeNav: calc(1.1875 * var(--fontSize));--lineHeight: 1.5;--lineHeightHeading: 1.3;--contentWidth: calc(34 * var(--fontSize));--wideWidth: calc(64 * var(--fontSize));--padding: 1rem;--fontSans: "Eesti", "Helvetica", "Helvetica Neue", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;--fontHeading: "Eesti", "Helvetica", "Helvetica Neue", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;--fontMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace}@media screen and (min-width: 25rem){body{--fontSize: 1rem}}@media screen and (min-width: 37.5rem){body{--fontSize: 1.1875rem}}body.admin-bar{--siteTop: 46px}@media screen and (min-width: 600px){body.admin-bar{--siteTop: 46px}}@media screen and (min-width: 783px){body.admin-bar{--siteTop: 32px}}@media screen and (max-width: 600px){#wpadminbar{position:fixed}}html{font-size:var(--fontSize)}body{width:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:var(--siteBackground)}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 0;padding:0 0 0 1em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:var(--colorLink)}a:hover,a:focus,a:active{color:var(--colorLinkHover)}a:focus{outline:thin dotted}a:hover,a:active,a:focus:not(:focus-visible){outline:0}:focus:not(:focus-visible){outline:none}button,input[type=button],input[type=reset],input[type=submit],.button{border:1px solid;border-color:var(--colorButtonBackground);border-radius:2px;background:var(--colorButtonBackground);color:var(--colorButtonText);font-size:var(--fontSize);line-height:1;padding:calc(0.5 * var(--padding)) var(--padding);cursor:pointer}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover,.button:hover{border-color:var(--colorButtonBackgroundHover);background:var(--colorButtonBackgroundHover);color:var(--colorButtonTextHover)}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus,.button:active,.button:focus{border-color:var(--colorButtonBackgroundHover);background:var(--colorButtonBackgroundHover);color:var(--colorButtonTextHover)}button:focus:not(:focus-visible),input[type=button]:focus:not(:focus-visible),input[type=reset]:focus:not(:focus-visible),input[type=submit]:focus:not(:focus-visible),.button:focus:not(:focus-visible){outline:0}.text-button{border:0;border-radius:0;background:transparent;color:var(--colorLink);font-size:var(--fontSize);line-height:var(--lineHeight);padding:0;text-decoration:underline}.text-button:hover{border-color:currentColor;background:transparent;color:var(--colorLinkHover)}.text-button:active,.text-button:focus{border-color:currentColor;background:transparent;color:var(--colorLinkHover)}input[type=text],input[type=email],input[type=url],input[type=password],input[type=search],input[type=number],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],textarea{color:var(--colorTextInput);border:1px solid var(--colorBorderInput);border-radius:3px;padding:calc(0.2 * var(--fontSize))}input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=search]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,textarea:focus{color:var(--colorTextInputFocus)}select{border:1px solid rgba(0,0,0,.5);border-radius:2px;width:100%}select[multiple=false]{font-size:calc(0.75 * var(--fontSize));line-height:var(--lineHeight);height:calc( var(--lineHeight) * (0.75 * var(--fontSize)) + (1.5 * var(--padding)) );padding:calc(0.75 * var(--padding)) calc(0.75 * var(--padding)) calc(0.75 * var(--padding)) calc(1.5 * var(--padding));background-repeat:no-repeat;background-position:calc(100% - var(--padding)) center;background-size:1em auto;background-image:url("assets/images/dropdown-arrow.svg");background-color:transparent;padding-right:calc(3 * var(--padding));-webkit-appearance:none;-moz-appearance:none;appearance:none;margin-top:0;cursor:pointer}fieldset{border:1px solid var(--darkGrey)}textarea{width:100%}.comment-navigation,.posts-navigation,.post-navigation{--colorLink: var(--red);--colorLinkHover: var(--black)}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display{font-family:var(--fontSans)}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.icon{display:inline-block;width:1em;height:1em;stroke-width:0;stroke:currentColor;fill:currentColor}button svg,a svg{pointer-events:none}.site-announcements{position:relative;padding:0 1rem 0;width:calc(40 * var(--fontSize));max-width:100%;margin:0 auto}.site-announcements.is-hidden{display:none}@media screen and (min-width: 37.5rem){.site-announcements{padding:1rem calc(var(--sideBlocksWidth) + 2rem) 0}}.site-announcement{background:var(--red);position:relative;color:var(--white);width:100%;text-align:left;display:none;flex-flow:row wrap;justify-content:flex-start;align-items:center;font-size:var(--fontSize);border-radius:.4em}.site-announcement p{margin:0}.site-announcement a{color:var(--white)}.site-announcement a:hover,.site-announcement a:focus{color:var(--grey)}.site-announcement.is-visible{display:flex}.site-announcement.is-hidden{display:none}.close-announcement{order:0;flex:0 0 auto;background:transparent;border:0;margin:0;font-size:var(--fontSize);color:var(--white);padding:1em;display:flex;justify-content:center;align-items:center;cursor:pointer}.close-announcement:hover,.close-announcement:focus{color:var(--grey);background:transparent}.announcement-inner{flex:1 0 auto;max-width:calc(100% - (var(--fontSize) * 3));padding:1rem calc(var(--fontSize) * 3) 1rem 0;text-align:center}.announcement-visible .site-announcement{display:flex}.announcement-hidden .site-announcement{display:none}.menu-is-active .site-announcement.is-visible{display:none}.site-header{display:flex;flex-flow:row wrap;justify-content:space-between;align-items:flex-start;max-width:100%;width:100%;padding:0 0;margin:0 auto}@media screen and (min-width: 37.5rem){.site-header{width:70rem;padding:1.5rem calc(var(--sideBlocksWidth) + 2rem) .5rem}}.site-branding{padding:1rem}.site-title{margin:0;padding:0;text-transform:uppercase;letter-spacing:.02em;font-size:var(--fontSizeNav);line-height:1.1}.site-title a{display:block;text-decoration:none;border-bottom:2px solid transparent;color:var(--colorText)}.site-title a:hover,.site-title a:focus{border-bottom:2px solid var(--colorLinkHover)}.main-navigation{display:flex;padding:1rem;text-transform:uppercase}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0;letter-spacing:.02em}.main-navigation li{position:relative}.main-navigation a{display:block;text-decoration:none;border-bottom:2px solid transparent;color:var(--colorText)}.main-navigation a:hover,.main-navigation a:focus{border-bottom:2px solid var(--colorLinkHover)}.main-navigation .current_page_item>a,.main-navigation .current-menu-item>a,.main-navigation .current_page_ancestor>a,.main-navigation .current-menu-ancestor>a{border-bottom:2px solid var(--colorLinkHover)}#primary-menu{z-index:999;position:fixed;top:var(--siteTop);bottom:0;right:0;transform:translate3d(100%, 0, 0);transition:transform .3s ease;width:30rem;max-width:90%;min-height:calc(100vh - var(--siteTop));overflow:auto;background:var(--siteBackground);flex-flow:column nowrap;justify-content:flex-start;align-items:flex-start;padding:1rem 1rem 1rem 4.5rem;font-size:var(--fontSizeLarge);box-shadow:-15px 0 20px rgba(0,0,0,.2)}#primary-menu:before{content:"";position:absolute;top:0;left:.5rem;width:3rem;bottom:0;background-image:url("assets/images/border.png");background-image:url("assets/images/border.svg");background-size:contain;background-repeat:repeat-y;background-position:top center}#primary-menu li{width:100%;padding:0 0 1em}#primary-menu a{display:inline-block}@media screen and (min-width: 37.5rem){#primary-menu{position:relative;top:auto;bottom:auto;right:auto;transform:none;transition:none;width:auto;max-width:100%;min-height:0;background:none;flex-flow:row wrap;justify-content:flex-end;align-items:center;padding:0;overflow:visible;font-size:var(--fontSizeNav);line-height:1.1;box-shadow:none}#primary-menu:before{content:none}#primary-menu li{width:auto;padding:0 0 0 1rem}#primary-menu li:first-of-type{padding-left:0}}.menu-toggle{color:var(--colorText);position:fixed;top:var(--siteTop);right:0;z-index:10;padding:1rem;display:flex;align-items:center;justify-content:center}.menu-toggle .icon-close{display:none}.main-navigation.toggled .menu-toggle .icon-close{display:block}.main-navigation.toggled .menu-toggle .icon-menu{display:none}.main-navigation.toggled ul{display:flex}.main-navigation.toggled #primary-menu{transform:translate3d(0, 0, 0)}@media screen and (min-width: 37.5rem){.menu-toggle{display:none}.main-navigation ul{display:flex}.main-navigation #primary-menu{transform:none}}.highlight{transition:all .2s ease;border-bottom:2px solid var(--red);position:absolute;top:0;background:pink;left:0;z-index:-1;border-radius:2px;display:block}.site-main{max-width:100%;padding:3rem 1rem;margin:0 auto}@media screen and (min-width: 37.5rem){.site-main{padding:3rem calc(var(--sideBlocksWidth) + 3rem)}}.entry-header{text-align:center}.entry-title{font-size:var(--fontSizeLarge);text-transform:uppercase;letter-spacing:.02em;padding-top:0}.entry-header,.entry-footer{max-width:var(--contentWidth);margin-left:auto;margin-right:auto;padding-left:var(--padding);padding-right:var(--padding)}.entry-content{display:flex;flex-flow:column nowrap;align-items:center;justify-content:flex-start}.entry-content iframe{width:100%;height:auto}.entry-content h1{padding-top:0;font-size:var(--fontSizeLarge)}.entry-content p{margin-top:0}.entry-content>p,.entry-content>ul,.entry-content>ol,.entry-content>blockquote,.entry-content>h1,.entry-content>h2,.entry-content>h3,.entry-content>h4,.entry-content>h5,.entry-content>h6{width:var(--contentWidth);max-width:100%;padding-left:var(--padding);padding-right:var(--padding)}[class^=wp-block]{width:var(--contentWidth);max-width:100%;padding-left:var(--padding);padding-right:var(--padding)}[class^=wp-block].alignwide{width:var(--wideWidth)}[class^=wp-block].alignfull{width:100%;padding-left:0;padding-right:0}.wp-block-columns{padding-left:0;padding-right:0}.wp-block-column [class^=wp-block]{padding-left:0;padding-right:0}.wp-block-column .wp-block-button__link{padding:.667em 1.333em}.wp-block-buttons>.wp-block-button{padding-left:0;padding-right:0}.wp-block-buttons>.wp-block-button,.wp-block-button__link{width:auto}.wp-block-button__link{padding:.667em 1.333em}.wp-block-image img{display:block}.wp-block-image figcaption{font-size:var(--fontSizeSmall)}.wp-block-group .wp-block-group__inner-container{margin-bottom:2rem;padding-left:0;padding-right:0}.wp-block-group.alignwide [class^=wp-block]{width:100%}.side-blocks{position:fixed;top:0;left:0;padding-left:1rem;width:calc(var(--sideBlocksWidth, 3rem) + 1rem);min-height:100vh;overflow:auto;display:none;flex-flow:column nowrap;justify-content:flex-end}@media screen and (min-width: 37.5rem){.side-blocks{display:flex}}.side-blocks--right{left:auto;right:0;padding-left:0;padding-right:1rem}.side-blocks-item{margin-top:.2em;width:var(--sideBlocksWidth, 3rem);height:var(--sideBlocksWidth, 3rem);opacity:0;max-height:0;transition:opacity .3s ease .3s,max-height .3s ease;overflow:hidden;pointer-events:none}.side-blocks-item span{overflow:hidden;display:block;width:100%;height:100%;background-size:cover;background-repeat:no-repeat;transform:translate3d(0, 1em, 0);transition:transform .3s ease .3s}.side-blocks-item.is-init{opacity:1;max-height:var(--sideBlocksWidth, 3rem)}.side-blocks-item.is-init span{transform:translate3d(0, 0, 0)}.side-blocks-item--1 span{background-image:url("assets/svg/SVG/blocks-1.svg")}.side-blocks-item--2 span{background-image:url("assets/svg/SVG/blocks-2.svg")}.side-blocks-item--3 span{background-image:url("assets/svg/SVG/blocks-3.svg")}.side-blocks-item--4 span{background-image:url("assets/svg/SVG/blocks-4.svg")}.side-blocks-item--5 span{background-image:url("assets/svg/SVG/blocks-5.svg")}.side-blocks-item--6 span{background-image:url("assets/svg/SVG/blocks-6.svg")}.side-blocks-item--7 span{background-image:url("assets/svg/SVG/blocks-7.svg")}.side-blocks-item--8 span{background-image:url("assets/svg/SVG/blocks-8.svg")}.side-blocks-item--9 span{background-image:url("assets/svg/SVG/blocks-9.svg")}.side-blocks-toggle{position:fixed;top:0;left:0;z-index:100;background-color:var(--red);color:var(--white);padding:.75em 1em;font-size:var(--fontSizeSmall);line-height:1;pointer-events:none;display:none;opacity:0;visibility:hidden;border-radius:.4em;opacity:.75;transform-origin:center center;transition:transform .2s ease,background-color .2s ease,border-radius .2s ease,opacity .2s ease,visibility 0s .2s}.side-blocks-toggle .is-hidden{display:none}.side-blocks-toggle .is-visible{display:block}.has-side-blocks.trigger-enter .side-blocks-toggle{display:inline-block;opacity:0;visibility:hidden;transition:transform .2s ease,background-color .2s ease,border-radius .2s ease,opacity .2s ease,visibility 0s .2s}.has-side-blocks.trigger-enter-active .side-blocks-toggle{display:inline-block;opacity:0;visibility:hidden;transition:transform .2s ease,background-color .2s ease,border-radius .2s ease,opacity .2s ease,visibility 0s .2s}.has-side-blocks.trigger-enter.trigger-enter-active .side-blocks{cursor:pointer}.has-side-blocks.trigger-enter.trigger-enter-active .side-blocks-toggle{display:inline-block;opacity:1;visibility:visible;transition:transform 0s ease,background-color .2s ease,border-radius .2s ease,opacity .2s ease,visibility 0s}.has-side-blocks.trigger-hidden .side-blocks-item{opacity:0 !important;transition:opacity .2s ease}.has-side-blocks.trigger-hidden .side-blocks-toggle{border-radius:3em;background-color:var(--black)}.has-side-blocks.trigger-hidden .side-blocks-toggle .is-hidden{display:block}.has-side-blocks.trigger-hidden .side-blocks-toggle .is-visible{display:none}.staggered-text{margin:0;padding:0;display:inline-block}.staggered-text span[class^=char]:nth-child(even){transform:translate3d(0, 0, 0);display:inline-block;transition:transform .3s ease}.staggered-text span[class^=word]{display:inline-block;margin-right:.35em}.staggered-text span[class^=word]:last-of-type{margin-right:0}.staggered-text:hover span[class^=char]:nth-child(even),.staggered-text:focus span[class^=char]:nth-child(even){transform:translate3d(0, -0.175em, 0)}.staggered-text.staggered-text--align-center{display:block;text-align:center}.staggered-text.staggered-text--align-center span[class^=word]{margin:0 auto;padding:0 .075em}.staggered-text.staggered-text--align-center span[class^=word]:last-of-type{margin-right:auto}.staggered-text--ignore span{transform:translate3d(0, 0, 0) !important;letter-spacing:0 !important}.post-type-archive-event article.event{padding:0 0 3rem}.post-type-archive-event article.event .entry-title{text-transform:none}.post-type-archive-event article.event h2,.post-type-archive-event article.event h3{padding:0;margin:0;font-size:var(--fontSizeXLarge);color:var(--colorText)}.post-type-archive-event article.event h2{text-transform:uppercase}.post-type-archive-event article.event h3{color:var(--colorLinkHover)}.post-type-archive-event article.event a{text-decoration:none}.post-type-archive-event article.event a:hover h2,.post-type-archive-event article.event a:focus h2{color:var(--colorLinkHover)}.single-event article.event .entry-header{padding-bottom:3rem}.single-event article.event .entry-header .button{display:inline-block;text-transform:uppercase;text-decoration:none}.single-event article.event .entry-header .button:hover,.single-event article.event .entry-header .button:focus{text-decoration:underline}.single-event article.event .entry-title{text-transform:none}.single-event article.event h1.entry-title{text-transform:uppercase;margin:0;padding:0}.page-template-front .site-header{position:fixed;z-index:100;left:0;right:0}.page-template-front .site-branding{display:none}.page-template-front .site-main{padding:0}.page-template-front .side-blocks{display:none}.page-template-front .site-container{position:absolute;top:0;left:0;right:0}.page-template-front .site-announcements{padding-top:calc(3 * var(--fontSize))}@media screen and (min-width: 37.5rem){.page-template-front #primary-menu{position:fixed;top:var(--siteTop);bottom:0;right:0;transform:translate3d(100%, 0, 0);transition:transform .3s ease;width:30rem;max-width:90%;min-height:calc(100vh - var(--siteTop));overflow:auto;background:var(--siteBackground);flex-flow:column nowrap;justify-content:flex-start;align-items:flex-start;padding:1rem 1rem 1rem 4rem;font-size:var(--fontSizeLarge);box-shadow:-15px 0 20px rgba(0,0,0,.2)}.page-template-front #primary-menu:before{content:""}.page-template-front #primary-menu li{width:100%;padding:0 0 1em}}.page-template-front .menu-toggle{display:none;font-size:calc(2.75 * var(--fontSize));color:var(--white, #fff);mix-blend-mode:difference}.page-template-front .main-navigation.toggled ul{display:flex}@media screen and (min-width: 37.5rem){.page-template-front .menu-toggle{display:none}.page-template-front .main-navigation ul{display:none}.page-template-front .main-navigation #primary-menu{transform:translate3d(0, 0, 0)}}.page-template-front .wp-block-cover{min-height:0 !important;height:100vh;height:calc(var(--vh, 1vh) * 100)}.page-template-front .wp-block-cover,.page-template-front .wp-block-cover-image{padding:var(--padding) var(--padding) calc(2 * var(--padding))}.page-template-front .wp-block-cover__inner-container audio{width:5em;min-width:240px;max-width:100%;margin:0 auto;display:block}.page-template-front .wp-block-cover__inner-container p{margin:0;padding:0}.front-menu-open{position:fixed;top:var(--siteTop);right:0;z-index:1000;padding:1rem;display:none;align-items:center;justify-content:center;font-size:calc(2.75 * var(--fontSize));color:var(--white, #fff);mix-blend-mode:difference}.page-template-front .front-menu-open{display:flex}.site-header-front{display:none;flex-flow:column nowrap;align-items:center;justify-content:center;position:fixed;top:var(--siteTop, 0px);bottom:0;left:0;right:0;background:var(--siteBackground);z-index:1000;padding:var(--fontSize);text-align:center}.site-header-front.toggled{display:flex}.site-header-front footer{width:100%}.site-header-front footer div{max-width:calc(30 * var(--fontSize));margin:auto}.front-menu-close{--colorLink: var(--colorText);position:fixed;top:var(--siteTop, 0px);margin:1rem;right:0;font-size:calc(2.5 * var(--fontSize));z-index:1}#primary-menu-front{flex:1 0 60%;width:100%;font-size:var(--fontSizeXLarge);--colorLink: var(--colorText);list-style:none;padding:calc(5 * var(--fontSize)) 0 0;margin:0;text-align:center;text-transform:uppercase;display:flex;flex-flow:column nowrap;align-items:center;justify-content:center}#primary-menu-front li{width:100%;padding:calc(0.5 * var(--fontSize)) 0}#primary-menu-front a{text-decoration:none}#primary-menu-front a:hover,#primary-menu-front a:focus{text-decoration:underline}.site-announcements+#primary-menu-front{padding:calc(1.5 * var(--fontSize)) 0 0}.site-header-front .site-announcements{padding:calc(5 * var(--fontSize)) 0 0}#primary-menu-front li a{margin:0;padding:0;display:block;text-align:center}#primary-menu-front li a span[class^=word]{margin:0 auto;padding:0 .075em}#primary-menu-front li a span[class^=word]:last-of-type{margin-right:auto}#primary-menu-front li a span[class^=char]:nth-child(even){transform:translate3d(0, 0, 0);display:inline-block;transition:transform .3s ease}#primary-menu-front li a span[class^=word]{display:inline-block;margin-right:.35em}#primary-menu-front li a span[class^=word]:last-of-type{margin-right:0}#primary-menu-front li a:hover span[class^=char]:nth-child(even),#primary-menu-front li a:focus span[class^=char]:nth-child(even){transform:translate3d(0, -0.175em, 0)}.has-text-align-left{text-align:left}.has-text-align-center{text-align:center}.has-text-align-right{text-align:right}.has-small-font-size{font-size:var(--fontSizeSmall)}.has-large-font-size{font-size:var(--fontSizeLarge)}.has-text-color{color:var(--colorText)}.has-text-color.has-black-color{--colorText: #000;--colorLink: #000;--colorButtonText: #000}.has-text-color.has-grey-color{--colorText: #787878;--colorLink: #787878;--colorButtonText: #787878}.has-text-color.has-white-color{--colorText: #fff;--colorLink: #fff;--colorButtonText: #fff}.has-text-color.has-blue-color{--colorText: #3c4b55;--colorLink: #3c4b55;--colorButtonText: #3c4b55}.has-text-color.has-green-color{--colorText: #0b9500;--colorLink: #0b9500;--colorButtonText: #0b9500}.has-text-color.has-light-blue-color{--colorText: #95cae7;--colorLink: #95cae7;--colorButtonText: #95cae7}.has-text-color button:hover,.has-text-color button:focus,.has-text-color a:hover,.has-text-color a:focus,button.has-text-color:hover,button.has-text-color:focus,a.has-text-color:hover,a.has-text-color:focus{color:var(--colorLinkHover)}p.has-background{padding-bottom:calc(1.5 * var(--padding))}.has-background.has-black-background-color{background-color:#000}.has-background.has-grey-background-color{background-color:#787878}.has-background.has-white-background-color{background-color:#fff}.has-background.has-blue-background-color{background-color:#3c4b55}.has-background.has-green-background-color{background-color:#0b9500}.has-background.has-light-blue-background-color{background-color:#95cae7}h1.has-background,h2.has-background,h3.has-background,h4.has-background,h5.has-background,h6.has-background{padding:.35em .35em .25em;line-height:1}@-webkit-keyframes spinner{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@keyframes spinner{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@-webkit-keyframes wiggle{0%,to{transform:rotate(2.5deg)}25%{transform:rotate(0deg)}50%{transform:rotate(-2.5deg)}75%{transform:rotate(0deg)}}@keyframes wiggle{0%,to{transform:rotate(2.5deg)}25%{transform:rotate(0deg)}50%{transform:rotate(-2.5deg)}75%{transform:rotate(0deg)}}.wp-block-acf-toggle{margin-bottom:3rem;padding:.5em 1em;background:var(--lightGrey, #eee)}.wp-block-acf-toggle .toggle-button{padding:.5em 0;border:0;margin:0;background:transparent;display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;width:100%;cursor:pointer;border-radius:0;color:var(--colorText);font-size:var(--fontSize, 1rem);overflow:hidden}.wp-block-acf-toggle .toggle-button .toggle-button__label{flex:0 1 auto;max-width:calc(100% - 1rem);text-align:left;border-bottom:1px solid currentColor;transition:border .2s ease}.wp-block-acf-toggle .toggle-button .toggle-button__icon{flex:0 0 1em;display:flex;justify-content:center;align-items:center;font-size:1em;transform:rotate(0deg);transition:transform .3s ease;height:1em;width:1em}.wp-block-acf-toggle .toggle-button:hover,.wp-block-acf-toggle .toggle-button:focus{color:var(--colorLinkHover)}.wp-block-acf-toggle .toggle-button:hover .toggle-button__label,.wp-block-acf-toggle .toggle-button:focus .toggle-button__label{border-color:transparent}.wp-block-acf-toggle .toggle-button:hover .toggle-button__icon,.wp-block-acf-toggle .toggle-button:focus .toggle-button__icon{transform:rotate(90deg)}.wp-block-acf-toggle .toggle-content{display:none;padding:0 0 .625rem 0}.wp-block-acf-toggle .toggle-content p:last-child{margin-bottom:0}.wp-block-acf-toggle--is-active .toggle-content{display:block}.wp-block-acf-toggle--is-active .toggle-button .toggle-button__icon{transform:rotate(90deg)}.wp-block-acf-toggle--is-active .toggle-button:hover .toggle-button__icon{transform:rotate(180deg)}.block-editor__container .wp-block-acf-toggle .toggle-content{display:block !important}.wp-block-acf-recording{margin-bottom:1.5rem;padding:.5em 1em;border-bottom:.15em solid var(--colorText, #000)}.wp-block-acf-recording h2{padding-top:0}.wp-block-acf-recording audio{width:100%;padding-bottom:.5em}.wp-block-acf-recording .toggle-button{padding:0;line-height:1.2;background:transparent;color:var(--colorText, #000);border:0}.wp-block-acf-recording .toggle-button:hover,.wp-block-acf-recording .toggle-button:focus{color:var(--colorLinkHover)}.wp-block-acf-recording .toggle-button:hover .toggle-button__icon,.wp-block-acf-recording .toggle-button:focus .toggle-button__icon{background:var(--colorLinkHover, #000)}.wp-block-acf-recording .toggle-button__icon{margin-left:.25em;height:1em;width:1em;border-radius:50%;display:inline-flex;background:var(--black, #000);color:var(--white, #fff);justify-content:center;align-items:center}.wp-block-acf-recording .toggle-content{display:none;padding:0 0 .625rem 0}.wp-block-acf-recording .toggle-content p:last-child{margin-bottom:0}.wp-block-acf-recording--is-active .toggle-content{display:block}.block-editor__container .wp-block-acf-recording .toggle-content{display:block !important}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}
