.wp-block-acf-recording {
  margin-bottom: 1.5rem;
  padding: 0.5em 1em;
  //background: var(--lightGrey, #eee);
  border-bottom: 0.15em solid var(--colorText, #000);
  h2 {
    padding-top: 0;
  }
  audio {
    width: 100%;
    padding-bottom: 0.5em;
  }
  .toggle-button {
    padding: 0;
    line-height: 1.2;
    background: transparent;
    color: var(--colorText, #000);
    border: 0;
    &:hover,
    &:focus {
      color: var(--colorLinkHover);
      .toggle-button__icon {
        background: var(--colorLinkHover, #000);
      }
    }
  }
  .toggle-button__icon {
    margin-left: 0.25em;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-flex;
    background: var(--black, #000);
    color: var(--white, #fff);
    justify-content: center;
    align-items: center;
  }
  .toggle-content {
    display: none;
    padding: 0 0 0.625rem 0;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.wp-block-acf-recording--is-active {
  .toggle-content {
    display: block;
  }
}

.block-editor__container {
  .wp-block-acf-recording {
    .toggle-content {
      display: block !important;
    }
  }
}
