body {
  --white: #fff;
  --black: #222;
  --lightBlack: #282828;
  --grey: #e4e4e4;
  --lightGrey: #f5f5f5;
  --midGrey: #ababab;
  --darkGrey: #505050;
  --blue: blue;
  --green: #435a34;
  --red: #da0000;
  --magenta: #f800ff;

  --colorText: var(--black);
  --colorTextSecondary: var(--darkGrey);
  --colorLink: var(--blue);
  --colorLinkHover: var(--red);
  --colorButtonText: var(--white);
  --colorButtonTextHover: var(--lightGrey);
  --colorButtonBackground: var(--red);
  --colorButtonBackgroundHover: var(--lightBlack);
  --siteBackground: var(--white);
  --homeColorText: var(--green);

  --colorTextInput: var(--darkGrey);
  --colorBorderInput: var(--midGrey);
  --colorTextInputFocus: var(--lightBlack);

  --siteTop: 0px;
  --headerHeight: 0;
  --accessBarHeight: 0;
  --sideBlocksWidth: 3rem;
  --fontSize: 0.875rem; //14px
  --fontSizeH1: calc(1.802 * var(--fontSize));
  --fontSizeH2: calc(1.602 * var(--fontSize));
  --fontSizeH3: calc(1.424 * var(--fontSize));
  --fontSizeH4: calc(1.266 * var(--fontSize));
  --fontSizeH5: calc(1.125 * var(--fontSize));
  --fontSizeSmall: calc(0.75 * var(--fontSize));
  --fontSizeLarge: calc(1.424 * var(--fontSize));
  --fontSizeXLarge: calc(2.1 * var(--fontSize));
  --fontSizeNav: calc(1.1875 * var(--fontSize));

  --lineHeight: 1.5;
  --lineHeightHeading: 1.3;

  --contentWidth: calc(34 * var(--fontSize));
  --wideWidth: calc(64 * var(--fontSize));

  //--padding: 0.9375rem; //15px
  --padding: 1rem; //16px
  --fontSans: "Eesti", "Helvetica", "Helvetica Neue", "Arial", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", sans-serif;
  --fontHeading: "Eesti", "Helvetica", "Helvetica Neue", "Arial", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", sans-serif;
  --fontMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  @media screen and (min-width: 25rem) {
    --fontSize: 1rem; //16px
  }
  @media screen and (min-width: 37.5rem) {
    --fontSize: 1.1875rem; //20px
    //--fontSizeLarge: calc(1.8125 * var(--fontSize));
    //--padding: 1.1875rem; //19px
  }
}

body.admin-bar {
  --siteTop: 46px;
  @media screen and (min-width: 600px) {
    --siteTop: 46px;
  }
  @media screen and (min-width: 783px) {
    --siteTop: 32px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

html {
  font-size: var(--fontSize);
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--siteBackground);
}
