input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: var(--colorTextInput);
  border: 1px solid var(--colorBorderInput);
  border-radius: 3px;
  padding: calc(0.2 * var(--fontSize));
  &:focus {
    color: var(--colorTextInputFocus);
  }
}

select {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 100%;
}
select[multiple="false"] {
  font-size: calc(0.75 * var(--fontSize));
  line-height: var(--lineHeight);
  height: calc(
    var(--lineHeight) * (0.75 * var(--fontSize)) + (1.5 * var(--padding))
  );
  padding: calc(0.75 * var(--padding)) calc(0.75 * var(--padding))
    calc(0.75 * var(--padding)) calc(1.5 * var(--padding));
  background-repeat: no-repeat;
  background-position: calc(100% - var(--padding)) center;
  background-size: 1em auto;
  background-image: url("assets/images/dropdown-arrow.svg");
  background-color: transparent;
  padding-right: calc(3 * var(--padding));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 0;
  cursor: pointer;
}
fieldset {
  border: 1px solid var(--darkGrey);
}
textarea {
  width: 100%;
}
