/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/3d8a40");

@font-face {
  font-family: "Eesti";
  src: url("assets/fonts/GT-Eesti-Display-Regular.woff2") format("woff2"),
    url("assets/fonts/GT-Eesti-Display-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
